@charset "UTF-8";

span.star-prototype, span.star-prototype>* {
	height: 16px;
	background: url(http://i.imgur.com/YsyS5y8.png) 0 -16px repeat-x;
	width: 80px;
	display: inline-block;
	text-align: left;
}

span.star-prototype>* {
	background-position: 0 0;
	max-width: 80px;
}

.container{
	width: 100%;
	padding-top: 5%;
	margin : 0 auto;
}

/* .paginationdiv {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: inline;
  background-color: blue;
} 

.btndiv {
	border: 0;
	border-radius: 0; 윤곽 0
	padding: 5px 10px;
	margin: 20px 0px;
	display: inline;
	background-color: blue;
} */