@charset "UTF-8";

.inner{
    width: 1400px;
    margin: 0 auto;
}
.container{
	padding-top: 150px;
}
.col-sm-11{
	width: 900px;
	margin: 0px auto; 
}

.col-sm-12{
	display: flex;
	flex-direction: column;

	width: 900px;
	align-items: center;
	padding-top: 10px;
	margin: 0px auto; 
	
}
.row {
	
}
a{
	text-decoration: none;
    color: black;
}
h3{

}

table{
	border-top: 1px solid #444444;
	border-bottom: 1px solid #444444;
	border-collapse: collapse;
}
th, td{
	border-top: 1px solid #444444;
	border-bottom: 1px solid #444444;
}


h3 {
	margin-right: auto;
}

.list_area{
	margin-right: auto;
	margin-top: 7px;
}

.btn_area{
	margin-left: auto;
	margin-top: 50px;
}


span.star-prototype, span.star-prototype > * {
    height: 16px; 
    background: url(http://i.imgur.com/YsyS5y8.png) 0 -16px repeat-x;
    width: 80px;
    display: inline-block;
    text-align: left;
}
 
span.star-prototype > * {
    background-position: 0 0;
    max-width:80px; 
    
}

.btn {
	font-family: 'Nanum Myeongjo', serif;
  color: black;
	background-color: white;
  border: 1px solid #D8D8D8; /* Green */
  transition-duration: 0.4s;
  border-radius: 4px;
  width: 100px;
  height: 30px;
}

.btn:hover {
  background-color: #D8D8D8; /* Green */
  color: black;
}
.headCategory{
	padding-top:100px;
	
}
.headCategory a{
	padding-top:100px;
	text-decoration: none;
	color: black;
	
}