@charset "UTF-8";

.row {
	margin: 0px auto;
	width: 700px;
}

table{
	border-top: 1px solid #444444;
	border-bottom: 1px solid #444444;
	border-collapse: collapse;
}
th, td{
	border-top: 1px solid #444444;
	border-bottom: 1px solid #444444;
}


h1 {
	text-align: left;
}
span.star-prototype, span.star-prototype > * {
    height: 16px; 
    background: url(http://i.imgur.com/YsyS5y8.png) 0 -16px repeat-x;
    width: 80px;
    display: inline-block;
    text-align: left;
}
 
span.star-prototype > * {
    background-position: 0 0;
    max-width:80px; 
    
}