@charset "UTF-8";
.inner{
    width: 1400px;
    margin: 0 auto;  
}

.flexCon{
	padding-top: 100px;	
	padding-left: 230px;
}
.orderNum{
	display: flex;
	
}
.orderMent{
	font-size: 18pt;
	font-weight: bold;
	text
}
.orderDiv{
	text-align:center;
	vertical-align: middle;
}

img{ 
	width: 100px;
	height: 100px;
}

#treeImg{
	width: 550px;
	height: 700px;
}

.content {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 30px;
	row-gap: 30px;
}

th, td{
	padding:7px 0px 7px 0px;
}

table{
	padding-bottom: 50px;
}

table, td, th {
	border-top: 1px solid #444444;
	border-bottom: 1px solid #444444;
	border-collapse: collapse;
	border-right: hidden; 
	border-left: hidden;
};


th, td{
	border-top: 1px solid #444444;
	border-bottom: 1px solid #444444;
}
tr{
	border: 1px blue;
}
.btn {
	font-family: 'Nanum Myeongjo', serif;
 	color: white;
	background-color: black;
  	border: 1px solid #D8D8D8; /* Green */
  	transition-duration: 0.4s;
  	border-radius: 4px;
  	width: 200px;
  	height: 50px;
}

.btn:hover {
  background-color: #D8D8D8; /* Green */
  color: black;
}
.headCategory{
	padding-top:100px;
	
}
.headCategory a{
	padding-top:100px;
	text-decoration: none;
	color: black;
}
.infoTable{
	text-align:center;
}
#priceRed{
	font-size:18px;
	font-weight:bold;
	color: red;
}
