@charset "UTF-8";
.inner{
    width: 1400px;
    margin: 0 auto;  
}

.flexCon{
	padding-top: 150px;	
	padding-left:450px;
}

img{ 
	width: 100px;
	height: 100px;
}

#treeImg{
	width: 350px;
	height: 450px;
}

.content {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 30px;
	row-gap: 30px;
}

.orderList td {
  text-align: center;
}

.paymentInfo th{
	
}

.paymentInfo td:first-child{
  text-align: center;
}

table, td, th {
	border-top: 1px solid #444444;
	border-bottom: 1px solid #444444;
	border-collapse: collapse;
	border-right: hidden; 
	border-left: hidden;
};


th, td{
	border-top: 1px solid #444444;
	border-bottom: 1px solid #444444;
}

.paymentInfo ul { margin-left:100px; display: table; border: none;}
.paymentInfo ul li{ margin: 4px 0; background-color: #d1e0e0;}

.btn {
	font-family: 'Nanum Myeongjo', serif;
  color: black;
	background-color: white;
  border: 1px solid #D8D8D8; /* Green */
  transition-duration: 0.4s;
  border-radius: 4px;
  width: 100px;
  height: 30px;
}

.btn:hover {
  background-color: #D8D8D8; /* Green */
  color: black;
}
.headCategory{
	padding-top:100px;
	
}
.headCategory a{
	padding-top:100px;
	text-decoration: none;
	color: black;
	
}
