#aio{
	width: 1400px;
	margin: 0 auto;
}
.headCategory{
	float: right;
	margin-top: 90px;
	font-size: 19px; 
}
.headCategory a{
	text-decoration:none;
	color:black;
}
.wrapper{
	width: 950px;
	margin: 0 auto;
	padding-top: 150px;
	padding-bottom: 200px;
 	padding-left: 220px;
	padding-right: 220px;
}
#info{
    margin: 20px;
}
#inputGroupFile02{
	vertical-align: 18px;
	height: 45px;
}
#h1{
	postion: absolute;
	margin-top: 20px;
	margin-left: 60px;
	display: inline-block;
}
label{
	font-weight: bold;
    float: left;
    padding-right: 10px;
    width: 110px;
    margin-top: 10px;
}
table {
	width: 800px;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
/*     display: table; */
    margin-left: auto;
    margin-right: auto;
}
th{
	background: #efefed;
	font-size: 20px;
}
td{
	padding: 15px;
    vertical-align: middle;
    font-size: 17px;
}
#ps{
	padding: 15px 15px 5px 15px;
}
#id{
	width:
}
#passwordck{
	font-size:17px;
	width: 243px;
	height: 35px;
}
#psck{
	height:10px;
	padding: 5px 15px 10px 15px;
}
.div {
    padding: 5px 0px 5px 0px;
}
#image{
	width: 200px;
	height: 200px;
}
.span{
	font-size: 19px;
}
#ps{
	padding-right: 0px;
}
input{
	font-size: 19px;
    padding: 6px 6px 6px 9px;
    border-radius: 3px;
}
.usermodify .button{
    height: 40px;
    background: #ebebef;
    border: none;
    font-size: 17px;
   	font-family: 'Nanum Myeongjo', serif;
}
input[type=text]{
	font-family: 'Nanum Myeongjo', serif;
}
.usermodify .button:hover {
  background-color: #D8D8D8; /* Green */
  color: black;
}
.end{
    text-align: center;
    padding-top: 80px;
}
.end [type=button]{
	border: 0px solid lightgray;
}
[type=text]{
	border: 0.3px solid 
}
.readonly{
	border: none;
   	font-family: 'Nanum Myeongjo', serif;
}
#update{
    width: 130px;
    height: 50px;
    margin-right: 10px;
	font-family: 'Nanum Myeongjo', serif;
 	color: black;
	background-color: #ebebef;
  	border: 1px solid #D8D8D8; /* Green */
  	transition-duration: 0.4s;
  	border-radius: 4px;
}
#update:hover {
  background-color: #D8D8D8; /* Green */
  color: black;
}
#cancel{
    margin-left: 10px;
    width: 130px;
    height: 50px;
   	font-family: 'Nanum Myeongjo', serif;
 	color: black;
    border: 1px solid #D8D8D8; /* Green */
    transition-duration: 0.4s;
    border-radius: 4px;
}
#cancel:hover {
  background-color: #D8D8D8; /* Green */
  color: black;
}
#delete{
	position: relative;
	float: right;
	width: 120px;
	height: 45px;
	top: 25px;
	right: 55px;
	font-family: 'Nanum Myeongjo', serif;
 	color: black;
	background-color: ebebef;
  	border: 1px solid #D8D8D8; /* Green */
  	transition-duration: 0.4s;
  	border-radius: 4px;
}
#delete:hover {
  background-color: #D8D8D8; /* Green */
  color: black;
}
