*{
    box-sizing: border-box;
}
.wrapper{
	width: 1350px;
	margin: 0 auto;
	padding-top: 150px;
 	padding-left: 220px;
	padding-right: 220px;
}
#info{
    margin: 20px;
}
h1{
	postion: absolute;
	margin-top: 20px;
	margin-left: 40px;
	display: inline-block;
}
label{
	font-weight: bold;
    float: left;
    padding-right: 10px;
    width: 140px;
    margin-top: 10px;
}
table {
	width: 800px;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
    display: table;
    margin-left: auto;
    margin-right: auto;
}
th{
	background: #fbfde3;
}
td{
	padding: 15px;
    vertical-align: middle;
}
#ps{
	padding: 15px 15px 5px 15px;
}
#id{
	width:
}
#psck{
	height:10px;
	padding: 5px 15px 10px 15px;
}
div {
    padding: 5px 0px 5px 0px;
}
#image{
	width: 200px;
	height: 200px;
}
span{
	font-size: 19px;
}
input{
	font-size: 19px;
    padding: 6px;
    border-radius: 3px;
    margin-bottom: 5px;
}
.usermodify .button{
    height: 40px;
    cursor: pointer;
    background: #ebebef;
    border: none;
    font-size: 21px;
}
.end{
    text-align: center;
    padding-top: 80px;
}
.end [type=button]{
	border: 0px solid lightgray;
}
[type=text]{
	border: 0.3px solid 
}
[type=button]{
	cursor: pointer;
}
.readonly{
	border: none;
}
#update{
    width: 130px;
    height: 50px;
    background-color: #3eb0e8;
    color: aliceblue;
    margin-right: 10px;
}
#cancel{
    margin-left: 10px;
    width: 130px;
    height: 50px;
}
#delete{
	position: relative;
	float: right;
	width: 120px;
	height: 45px;
	top: 42px;
	right: 35px;
	border: 0.1px solid lightgray;
}
