*{
    box-sizing: border-box;
}
html {
    width: 100%;
    display: flex;
    padding-top: 50px;
    padding-bottom: 100px;
    justify-content: center;
}
.hr{
    width: 1150px;
    color: #444444;;
}
.box1{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(77, 77, 77);
    color: aliceblue;
    text-align: center;
    padding: 10px;
    font-size: 16pt;
    font-weight: 600;
    margin-bottom: -12px;
}
.box2{
    width: 1100px;
    text-align: center;
    padding: 15px;
    margin-left: 15px;
    margin-top: 30px;
    border: 1px solid lightgray;
}

.box2>input{
    width: 80px;
    height: 40px;
    background-color: rgb(56, 108, 206);
    color: aliceblue;
    border: 0px;
    border-radius: 5px;
    margin-left: 30px;
    cursor: pointer;
    line-height: 20px;
    vertical-align: 15px;
}
table{
    margin-top: 50px;
    border-collapse: collapse;
}
th, td {
    border-top: 1px solid #646464;
    border-bottom: 1px solid #646464;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
table hr{
    width: 80%;
}
table input{
    width: 110px;
    height: 40px;
    background-color: rgb(56, 108, 206);
    color: aliceblue;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}
ol,ul{list-style:none} 
.searchDate li .chkbox2 label{
	display:block;
	width:110px;
		line-height:35px;
	border: 2px solid rgb(165, 165, 165);
	margin-left: -5px;
	margin-right: -5px;
	font-weight:bold;
	cursor:pointer;
	background-color: rgb(230, 227, 227)}
.searchDate li{position:relative;float:left;margin:0 7px 0 0}
.searchDate li .chkbox2 input{position:absolute;z-index:-1}
.searchDate li .chkbox2.on label{background:skyblue}
	
.inpType{
	width: 160px;
	line-height:24px;
	font-size: 13pt;
	padding: 5px;
	text-align: center;
	border:1px solid #dbdbdb;
	vertical-align: 15px;
}
.demi{
		vertical-align: 15px;
}
#orderdate{
	vertical-align: 15px;
	padding-top: 10px;
	margin-top: 10px;
}







