*{
    box-sizing: border-box;
}
.wrapper{
	width: 1200px;
	margin: 0 auto;
	padding-top: 200px;
	padding-bottom: 240px;
}
h1{
	font-size: 32px;
    margin-bottom: -5px;
}
hr{
    width: 1200px;
}
#btn{
	text-decoration: none;
	color: black;
	background: lightgray;
	text-align: center;
    width: 240px;
    height: 50px;
	padding-top: 12px;
    border-radius: 10px;
    border: 1px solid black;
    float: right;
    display: inline-block;
	margin-top: -50px;
}
#name{
	font-size: 24px;
}
#profile{
	width: 300px;
	margin-top: -10px;
	position: relative;
}
.list{
	vertical-align: 15px;
	font-size: 28px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.section{
	float: right;
}
.section img{
	width: 200px;
    cursor: pointer;
    border: none;
}
#section1{
	position: relative;
	right: 520px;
	top: 60px;
/* 	padding-right: 750px;
	margin-top: -140px; */
}
#section2{
	position: relative;
	top: 60px;
	right: -50px;
/* 	padding-right: 750px;
	margin-top: -140px; */
}
#section3{
	position: relative;
	top: 215px;
	right: 115px;
/* 	padding-right: 750px;
	margin-top: -140px; */
}
#section4{
	position: relative;
	top: 215px;
	left: 460px;
/* 	padding-right: 750px;
	margin-top: -140px; */
}
#section4 p img{
	width: 210px;
}
.section>p>img:hover{
  transform: scale(1.5);
  transition-duration: 0.5s;
}
