*{
    box-sizing: border-box;
}
html {
    width: 100%;
    display: flex;
    padding-top: 50px;
    padding-bottom: 100px;
    justify-content: center;
}
h1{
    margin-bottom: -5px;
}
hr{
    margin-top: -24px;
    width: 1150px;
    color: #444444;;
}
.color1{
    color: rgb(114, 113, 113);
}
.box1{
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 400px;
    height: 100px;
    line-height: 100px;
    padding-left: 20px;
}
.box2{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(77, 77, 77);
    color: aliceblue;
    text-align: center;
    padding: 10px;
    font-size: 16pt;
    font-weight: 600;
}
table{
    border-top: 1px solid black;
    margin-top: 30px;
}
th, td {
    border-bottom: 1px solid #646464;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

