@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=Hi+Melody&display=swap');
#body-wrapper {
    min-height: 100px;
    position: relative;
    margin-bottom: 200px;
}
.inner{
    width: 1400px;
    margin: 0 auto;
}

.flex_container{
    display: flex;
    justify-content: center;
}

#boxtitle{
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    width: 450px;
    margin: 0 auto;
}
#boximg{
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-left: 40px;
}
#boximg li {
    margin-right: 100px;
}
#boximg img{
    cursor: pointer;
}
#boximg #img1{
    width: 220px;
    height: 315px;
    margin-left: 10px;
}
#boximg #img2{
    width: 200px;
    height: 300px;
    margin-top: 15px;
    margin-left: 15px;
}
#boximg #img3{
    width: 200px;
    height: 300px;
    margin-bottom: 15px;
    margin-left: 15px;
}
#boximg #img4{
    width: 225px;
    height: 300px;
    margin-top: 15px;
    margin-left: 15px;
}
#boximg b{
    font-size: 38px;
    line-height: 200%;
}
#boximg div{
    text-align: center;
    font-size: 26.2px;
    width: 250px;
}
#minidiv{
    margin-left: 6px;
}
@keyframes img-ani {
25% {
    transform: rotate(4deg) scale(1.01);
}

50% {
    transform: rotate(0deg) scale(1);
}

75% {
    transform: rotate(-4deg) scale(1.01);
}
}
#boximg img:hover {
opacity: 0.9;
animation: img-ani 0.9s linear 1;
}

#down{
    width: 900px;
    height: 500px;
    margin:0 auto;
    margin-top: 200px;
}
#downImg{
    width: 900px;
    height: 500px;
}
.audio{
    width: 300px;
    margin-left: 300px;
    margin-top: 20px;
}