@charset "UTF-8";
.flex_container{
    display: flex;
    justify-content: center;
}
p{
    position: relative;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-top: 150px;
    left: 530px;
    width: 400px;
}
#boximg{
    list-style: none;
    position: relative;
    left: 15px;
    top: 20px;
}
#boximg li {
    float: left;
    margin-right: 100px;
}
#boximg img{
    cursor: pointer;
}
#boximg #img1{
    width: 220px;
    height: 315px;
}
#boximg #img2{
    width: 200px;
    height: 300px;
    margin-top: 15px;
}
#boximg #img3{
    width: 200px;
    height: 300px;
    margin-bottom: 15px;
}
#boximg #img4{
    width: 225px;
    height: 300px;
    margin-top: 15px;
}
#boximg div{
    text-align: center;
    font-size: 21px;
}
#minidiv{
    margin-left: 6px;
}
#boximg b{
    font-size: 29px;
    line-height: 200%;
}
@keyframes img-ani {
25% {
    transform: rotate(4deg) scale(1.01);
}

50% {
    transform: rotate(0deg) scale(1);
}

75% {
    transform: rotate(-4deg) scale(1.01);
}
}
#boximg img:hover {
opacity: 0.9;
animation: img-ani 0.9s linear 1;
}
#img3:hover {
opacity: 0.9;
animation: img-ani 0.9s linear 1;
}
#down{
    width: 800px;
    height: 450px;
    position: relative;
    top: 200px;
    left: 300px;
}
#downImg{
    width: 800px;
    height: 450px;
}
a{
    text-decoration: none;
    color: black;
}