@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=Hi+Melody&display=swap');
body{
    background-color: #a2080f;
    background-attachment:fixed;
    height: auto;
    margin: 0;
    font-family: 'Gaegu', cursive;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}
.inner{
    width: 1400px;
    margin: 0 auto;
}
.main2{
    padding: 95px;
}
.mailImg2{
    background-color: white;
    background-image: url('/resources/image/kids/mail/santa.png');
    background-size: cover;
    background-position: center;


    width: 430px;
    height: 430px;

    margin: 38px auto 30px auto;

    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px white;
}
#img2{
    width: 170px;
    height: 200px;
    margin-top: 190px;
    margin-left: 111px;
}
h1{
    color: white;
    text-align: center;

    margin-top: 20px;
    margin-bottom: 20px;
}
.message{
    background-color: ivory;

    margin: auto;
    
    color: brown;

    padding: 30px;

    font-size: 27px;

    line-height: 30px;

    box-shadow: 0px 0px 12px 0px white;

    width: 25ch;
    /* ch : 25개의 문자열을 포함 */
    animation: typing 2s steps(25), blink .6s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


.from{
    text-align: right;
    margin-bottom: 0;
}