@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=Hi+Melody&display=swap');
body{
    background-image: url('/resources/image/kids/diary/그림19.png');
    background-size: cover;
    background-attachment:fixed;
}
.inner{
    width: 1400px;
    margin: 0 auto;
}
.stickerbody{
    padding-top: 70px;
}
#kids{
    font-size: 65px;
    text-align: center;
    margin-top: 75px;
    margin-left: 5px;
    margin-bottom: 25px;
    font-weight: 600;
    text-shadow: 3px 2px 2px black;
}
.title{
    font-size: 55px;
    margin-bottom: 0;
    margin-top: 160px;
    margin-left: 85px;
    text-shadow: 3px 2px 2px black;
    font-weight: 600;
}
.text{
    font-size: 35px;
    margin-top: 240px;
    margin-left: -200px;
    text-shadow: 2px 1px 1px black;
    font-weight: 600;
}
.main{
    display: flex;
}
.sticker_Dec, .sticker_Jan{
    width: 500px;
    height: 480px;
    display: grid; /*항상 일정한 비율로 개수가 정렬이 되도록 */
    grid-template-columns: repeat(6, 1fr);
    margin-left: 145px;
    margin-top: 0;
}
.num, .Jan_num{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 23px;
}
.btn_group{
    width: 400px;
    margin-left: 20px;
    margin-top: -170px;
}
.btn_group button{
    all: unset;
    cursor: pointer;
    background-color: rgb(255, 225, 0);
    border-color: rgb(230, 203, 1);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.068);
    width: 110px;
    height: 30px;
    padding: 5px 0px;
    text-align: center;
    border-radius: 10px;
    color: black;
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 5px;
}
