@charset "UTF-8";
#body-wrapper {
    min-height: 100px;
    position: relative;
}
#img_box{
    margin-top: 200px;
}
#img{
    padding-left: 300px;
    width: 370px;
    height: 725px;
}
#about{
    height: auto;
    padding: auto;
}
#aboutmsg{
    position: absolute;
    top: 1100px;
}
#message{
    width: 300px;
    text-align: center;
    position: absolute;
    left: 800px;
    top: 180px;
}
#Help{
    width: 350px;
    text-align: center;
    position: absolute;
    left: 775px;
    top: 430px;
}
#Insta{
    width: 300px;
    text-align: center;
    position: absolute;
    left: 800px;
    top: 555px;
}
#title,#title2,#title3{
    font-weight: bold;
}
#content,#content2,#content3{
    line-height: 180%;
}
hr{
    width: 330px;
    position: absolute;
    left: 787px;
    top: 385px;
}
a{
    text-decoration: none;
    color: black;
}
#letterbox{
    margin-top: 200px;
    /* margin-left: 50px; */
    margin-bottom: 150px;
    height: 500px;
}
#letter{
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
}
#letter li{
    margin-right: 15px;
}
#letter li img{
    width: 300px;
    height: 400px;
}
#letter div{
    text-align: center;
    font-size: 13px;
    margin-top: 5px;
    line-height: 180%;
}
#lettermore{
    width: 430px;
    height: 700px;   
    margin:0 auto;
}
#moreImg{
    width: 430px;
    height: 560px;
}
#moremsg{
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    line-height: 140%;
}
#more_btn{
    width: 180px;
    height: 30px;
    font-family: 'Nanum Myeongjo', serif;
    margin-top: 30px;
    background-color: white;
    border: 1px solid rgb(166, 166, 166);
    cursor: pointer;
}