

.floating-parent{
    position:fixed;
    bottom: 8%;
    right: 18px;
    text-align: cen;
    z-index: 5;
}


.floating-parent .right-button{
    width: 70px;
    height: 70px;
    background: url(../../image/customer/rudolph.png);
    border-radius: 0%;
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    float: right;
    margin: 0 auto;
    cursor: pointer;
    z-index: 5;
}
.floating-parent .widgetlabel{
    position: relative;
    right: -72px;
    top: 73px;
    white-space: nowrap;
    font-size: 15px;
    cursor: pointer;
    border-radius:16px;
    padding: 3px 8px 3px 8px;
    background : white;
    z-index: 5;
}

.menu-parent{
    position:fixed;
    bottom:8%;
    right: 15px;
    z-index: 5;
}

.menu{
	background-color:red;
    display: none;
    bottom: 20px;
    left: 820px;
    margin-top: 600px;
    width: 200px;
    height: 300px;
    background: transparent;
	animation: snow 20s linear infinite;
	background-image:url('https://cdn.discordapp.com/attachments/460145928850898945/515694458633846831/snow.png'), url("https://cdn.discordapp.com/attachments/460145928850898945/515694460668084274/snow3.png"), url("https://cdn.discordapp.com/attachments/460145928850898945/515694462278828073/snow2.png");    text-align: right ;
    border-radius: 10%;
}

@keyframes snow {

0% {background-position: 0px 0px, 0px 0px, 0px 0px;}

100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}

}

.menu > p{
	padding : 5px;
    position: fixed;
    width: 170px;
    background-color: rgb(255, 255, 255);
    margin: 16px 10px;
    text-align: center;
    border-radius: 10px;
	}

.buttons > button{
    padding: 3px;
    font-size: 10pt;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 14px;
    border: none;
}

.buttons > button:hover{
	background-color: rgb(68,100,138);
	color: white;
}

.buttons{
    position: absolute;
    top: 720px;
    right: 10px;
    width: 100px;
    
}

.menutop{
	border-radius: 10%;
	background-image: url("../../image/customer/7972668.jpg");
	background-position: bottom  70%;
	background-repeat: no-repeat;
	/*background : linear-gradient(to bottom, #44648A, #FFFFFF);*/
}